body {
  font-family: 'SF Pro Text', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

html {
  --bg-color: 255, 255, 255;
  @apply bg-white;
}

html.dark {
  --bg-color: 0, 0, 0;
  color-scheme: dark;
  @apply bg-black;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.list-leave-active {
  position: absolute;
}

.special-bg {
  @apply backdrop-filter backdrop-blur-10px backdrop-saturate-150;
  background-size: 4px 4px;
  background-image: radial-gradient(rgba(var(--bg-color), 0.6) 1px, rgba(var(--bg-color), 1) 1px);
}
